@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.formcontainer{
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', serif;
}

img{
    display: none;
}

.panel{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel h1{
    color: #2c2c2c;
    margin: 0 0 10px 0;
}

.panelform{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputdiv{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.panelform form{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.panelform input{
    box-sizing: border-box;
    width: 100%;
    background-color: #dbdbdb;
    margin: 1em 0;
    border: none;
    padding: 1.5em;
    border-radius: 15px;
}

.panelform .inputpass{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.inputpass input{
    width: 80%;
}

.hidechar{
    border: none;
    font-family: 'Poppins', serif;
    background-color: transparent;
    text-align: center;
    width: 20%;
}

.text{
    margin: 0;
    font-size: small;
    text-decoration: none;
}

.forgot{
    text-align: right;
}

.redirect{
    color: #9e2525;
    font-style: italic;
}

.submit{
    background-color: #9e2525;
    color: #f0f0e1;
    width: 50%;
    height: 50px;
    box-sizing: border-box;
    margin: 10% 0;
    text-align: center;
    border: none;
    font-family: 'Poppins', serif;
    border-radius: 15px;
    font-weight: bold;
    align-self: center;
}

.error{
    margin: 10px 0;
    display: flex;
    font-size: small;
}

.verify{
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px){
    img{
        display: flex;
        flex-basis: 40%;
    }
    .panel{
        flex-basis: 60%;
    }
    .panelform, .retrieve{
        width: 40%;
    }
}