@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', serif;
}

.header{
    z-index: 5;
    background-color: blueviolet;
    position: sticky;
    height: 10vh;
    width: 100%;
    top: 0;
    overflow: hidden;
}

.headitems{
    justify-items: center;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 20% 50% 20%;
    overflow: hidden;
}

.toggle{
    font-family: 'Poppins', serif;
    border: none;
    background-color: #7e1c1c;
    grid-column-start: 1;
    height: 100%;
    width: 100%;
}

.logo{
    grid-column-start: 2;
}

.searchbar{
    font-family: 'Poppins', serif;
    border: none;
    padding: 0.5em 0.5em 0.5em 3.5em;
    border-radius: 15px;
    width: 80%;
    grid-column-start: 3;
}

.headbutt{
    grid-column-start: 4;
}

.contents{
    display: flex;
    flex-direction: row;
}

.sidebar{
    transition: 0.3s ease;
    display: flex;
    flex-basis: 20%;
    position: sticky;
    height: 100%;
    top: 10vh;
}

.sidebar.collapsed{
    flex-basis: 0%;
    overflow: hidden;
}

.wall{
    transition: 0.3s ease;
    flex-basis: 100%;
    width: 100%;
    height: fit-content;
}

.nav{
    padding: 1em;
    margin: 0 10%;
    display: flex;
    border-radius: 20px;
    background-color: #9e2525;
    position: sticky;
    top: 12vh;
    z-index: 3;
}

.nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.5%;
    
}

.nav ul li{
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-basis: 33%;
    justify-content: center;
}

.nav ul li:hover{
    background-color: #f0f0e1;
}

.nav ul li:hover a{
    color: #9e2525;
}

.nav ul li a{
    padding: .7em;
    text-align: center;
    text-justify: center;
    height: 100%;
    width: 100%;
    font-size: .7em;
    text-decoration: none;
    color: #f0f0e1;
}

.nav ul li.active{
    background-color: #f0f0e1;
}

.nav ul li.active a{
    color: #9e2525;
}

.page{
    margin: 2% 5%;
    height: 80vh;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.list{
    width: 100%;
    height: 100%;
    justify-items: center;
    margin-right: 35vh;
}

.list::-webkit-scrollbar{
    display: none;
}

.postitem{
    width: 70%;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: medium;
    background-color: #dbdbdb;
    border-radius: 15px;
    padding: 1.5%;
    margin: 20px;
    cursor: pointer;
}

.interact{
    display: flex;
    flex-direction: row;
    font-size: small;
}

.interact p{
    margin:  0 1em;
}

.postmodal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postmodal-content {
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modalClose {
    margin-top: 20px;
    padding: 8px 16px;
    border: none;
    background-color: #9e2525;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.modalClose:hover {
    background-color: #f0f0e1;
    color: #9e2525;
}

.comments-list ul{
    list-style: none;
    font-size: small;
}

.schinfo{
    background-color: #dbdbdb;
    border-radius: 15px 15px 0 0;
    height: 67%;
    width: 20vw;
    padding: 1.5em;
    position: fixed;
    bottom: 0;
    right: 2%;
    z-index: -1;
}

.postcreation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.postcreation form{
    width: 50%;
}

.postcreation h3{
    margin: 20px 0 0 0;
    padding: 0;
}

.postcreation input, .postcreation textarea{
    font-family: 'Poppins', serif;
}

.postcreation input{
    width: 100%;
}

.postcreation textarea{
    width: 100%;
    height: 50%;
    resize: none;
}

.publish{
    width: 100%;
    display: flex;
}

.publish button{
    border: none;
    font-family: 'Poppins', serif;
    font-size: large;
    margin: 20px 50px 0 0;
    padding: 0.5em 1em;
    border-radius: 20px;
}