@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    background-color: #f0f0e1;
    height: fit-content;
    width: 100%;
    font-family: 'Poppins', serif;
    z-index: -99;
}

.header{
    z-index: 5;
    background-color: #f9f9ed;
    position: sticky;
    height: 10vh;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.headitems{
    justify-items: center;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 25% 50% 20%;
    overflow: hidden;
    color: #2c2c2c;
}

.toggle{
    display: block;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    font-family: 'Poppins', serif;
    font-size: large;
    border: none;
    background-color: transparent;
    grid-column-start: 1;
}

.logo{
    grid-column-start: 2;
}

.searchbar{
    font-family: 'Poppins', serif;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0.5em 0.5em 0.5em 3.5em;
    background-color: #d9d9d9;
    border-radius: 15px;
    width: 80%;
    grid-column-start: 3;
}

.searchbar::placeholder{
    color: #999999;
}

.searchbar:focus{
    border: none;
    outline: 2px solid rgba(158, 37, 37, 0.5);
}

.headbutt{
    grid-column-start: 4;
}

.contents{
    display: flex;
    height: fit-content;
    flex-direction: row;
}

.sidebar{
    background-color: #f9f9ed;
    transition: 0.3s ease;
    display: flex;
    flex-basis: 20%;
    position: sticky;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    height: 90vh;
    top: 10vh;
    overflow-y: hidden;
}

.sidebar.collapsed{
    flex-basis: 0%;
    overflow: hidden;
}

.wall{
    transition: 0.3s ease;
    flex-basis: 100%;
    width: 100%;
    height: fit-content;
}

.nav{
    padding: 1em;
    margin: 0 5px;
    display: flex;
    border-radius: 20px;
    background-color: #9e2525;
    position: sticky;
    top: 11vh;
    z-index: 3;
}

.nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.5%;
    
}

.nav ul li{
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-basis: 33%;
    justify-content: center;
}

.nav ul li:hover{
    background-color: #f0f0e1;
}

.nav ul li:hover a{
    color: #9e2525;
}

.nav ul li a{
    box-sizing: border-box;
    display: flex;
    padding: .7em;
    height: 100%;
    width: 100%;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #f0f0e1;
}

.homenavicon{
    box-sizing: content-box;
    margin: 0 5px;
}

.nav ul li.active{
    background-color: #f0f0e1;
}

.nav ul li.active a{
    color: #9e2525;
}

.page{
    margin: 2% 5%;
    height: fit-content;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.list{
    width: 100%;
    height: fit-content;
    justify-items: center;
    margin-right: 20vw;
}

.postitem{
    width: 90%;
    box-sizing: border-box;
    max-height: 70vh;
    font-size: medium;
    background-color: #f9f9ed;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px;
    cursor: default;
    text-wrap: wrap;
    text-overflow:ellipsis;
}

.postitem h3{
    font-size: medium;
}

.postpreview{
    font-size: small;
}

.interact{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: smaller;
    justify-content: space-around;
    margin:  0 1em;
}

.postmodal-overlay {
    display: flex;
    justify-content: space-between;
}

.postmodal-content {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9ed;
    max-width: 600px;
    width: 80%;
    position: relative;
}

.modalClose{
    padding: .5em 1.5em;
    border-radius: 20px;
    background-color: #f0f0e1;
    color: #9e2525;
    font-size: medium;
    cursor: pointer;
}

.modalClose:hover {
    background-color: #999999;
}

.comments-list ul{
    list-style: none;
    font-size: small;
}

.schinfo{
    background-color: #f9f9ed;
    border-radius: 15px 15px 0 0;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 67%;
    width: 20vw;
    padding: 1.5em;
    position: fixed;
    bottom: 0;
    right: 1.5%;
    z-index: 0;
}

.postcreation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.postcreation form{
    width: 50%;
}

.postcreation h3{
    margin: 20px 0 0 0;
    padding: 0;
}

.postcreation input, .postcreation textarea{
    font-family: 'Poppins', serif;
}

.postcreation input{
    padding: 10px;
    width: 100%;
}

.postcreation textarea{
    padding: 10px;
    width: 100%;
    height: 50%;
    resize: none;
}

.publish{
    width: 100%;
    display: flex;
}

.publish button{
    border: none;
    font-family: 'Poppins', serif;
    font-size: large;
    margin: 20px 50px 0 0;
    padding: 0.5em 1em;
    border-radius: 20px;
}